body {
    background-color: #aaabb8;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* navigation bar */
.nav {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: #29648a;
    margin-top: 0px;
    width: 100%;

}

a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

a:hover {
    color: #aaabb8;
    background-color: #25274d;
}

li {
    padding: 8px;
}



/* Dropdown */
.drop ul {
    list-style: none;
    text-align: left;
    text-decoration: none;
    background-color: #29648a;
    margin-top: 0px;

}

.drop a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

.drop a:hover {
    color: #aaabb8;
    background-color: #25274d;
}

button {
    background-color: #aaabb8;
    margin-left: auto;
    margin-right: 2.5%;
    padding: 7px;
    color: antiquewhite;
}

/* button:hover {
    color: lightseagreen;
    background-color: lightgrey;
} */

.hamburger {
    background-color: #29648a;
    display: flex;
    /* position: fixed; */
}

.drop ul {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}


.fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: white;
}

#dropdown ul li a:hover {
    background-color: #25274d;
}

/* inroduction portion*/
.container {
    display: flex;
    margin-top: auto;
}

.intro {
    padding-top: 50px;
    padding-left: 50px;

}

.para1 {
    font-size: 40px;
    color: #25274d;
}

.para1,
h1 {
    margin: o;
}

p,
h1 {
    color: #29648a;
}

/* IMAGE................ */
.img {
    margin-top: 34px;
    padding-left: 60px;
}

@media screen and(max-width:600px) {
    .container {
        display: flex;
        margin-top: auto;
        flex-direction: column-reverse;
    }

    .hambergur {
        display: flex;
        position: fixed;
        padding: 5px;
    }

    .img {
        height: 300px;
        width: 200px;
        padding: 20px;
    }

}

/* ICONS SECTION */
.icons {
    display: flex;
    margin-left: 30px;
}

.icons i {
    background-color: gray;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #25274d;
    border-radius: 50px;
    line-height: 40px;
    margin: 5px;

}

.icons i:hover {
    color: gray;
    background-color: #25274d;
}

@media screen and (min-width: 600px) {
    .nav {
        display: flex;
    }

    .drop {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        display: none;
    }

    .drop {
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

}

/* Footer section */
footer {
    text-align: center;
    background-color: gray;
    color: #29648a;
    padding: 5px;
}

footer p {
    color: black;
}

footer a:hover {
    background-color: #25274d;
}

/* About page */
.links a {
    color: #29648a;
}

.links ul {
    display: block;
    background-color: #aaabb8;
}

section ul {
    display: flex;
    flex-direction: column;
    background-color: #aaabb8
}

#para4 {
    color: black;
}

.name {
    margin-top: 40px;
}